window {
    font-family: "JetBrainsMono Nerd Font", "sans-serif";
    font-size: 16px;
    background-color: #1e1e2e; /* Базовый темный Catppuccin Mocha */
    color: #cdd6f4;
    border: 2px solid #89b4fa; /* Аккуратная синяя рамка */
    border-radius: 12px;
}

#outer-box {
    padding: 20px;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    border: 1px solid #45475a;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 8px;
}

#entry {
    padding: 12px;
    border-radius: 8px;
    color: #cdd6f4;
}

/* Эффект при наведении мышки или выборе стрелочками */
#entry:selected {
    background-color: #89b4fa; /* Синий акцент */
    color: #11111b; /* Темный текст для контраста */
    font-weight: bold;
}

#text {
    margin-left: 10px;
}
