configuration {
    modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "📁";
    display-window:             "🪟";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
}

@theme "/dev/null"
@import "colors.rasi"

* {
    font:                       "JetBrainsMono Nerd Font 10";
    background-color:           transparent;
    text-color:                 @fg-col;
    margin:                     0;
    padding:                    0;
}

window {
    width:                      600px;
    height:                     450px;
    border:                     2px;
    border-radius:              16px;
    background-color:           @bg-col;
    padding:                    20px;
}

mainbox {
    background-color:           @bg-col;
    children:                   [ inputbar, listview ];
    spacing:                    15px;
}

inputbar {
    children:                   [ prompt, entry ];
    background-color:           @bg-col-light;
    border-radius:              12px;
    padding:                    4px;
}

prompt {
    padding:                    8px 12px;
    text-color:                 @bg-col;
    border-radius:              8px;
    margin:                     2px;
}

entry {
    padding:                    8px;
    text-color:                 @fg-col;
    background-color:           transparent;
    placeholder:                "Поиск...";
    placeholder-color:          @grey;
    vertical-align:             0.5;
}

listview {
    border:                     0px;
    padding:                    4px 0px 0px;
    margin:                     5px 0px 0px 0px;
    columns:                    1;
    lines:                      7;
    background-color:           @bg-col;
    spacing:                    8px;
}

element {
    padding:                    10px 12px;
    border-radius:              10px;
    background-color:           @bg-col-light;
    text-color:                 @fg-col;
}

element normal.normal {
    background-color:           @bg-col-light;
    text-color:                 @fg-col;
}

element alternate.normal {
    background-color:           @bg-col-light;
    text-color:                 @fg-col;
}

element selected.normal {
    background-color:           @selected-col;
    text-color:                 @purple;
    border:                     1px;
    border-color:               @purple;
}

element-icon {
    size:                       26px;
    margin:                     0px 10px 0px 0px;
    background-color:           transparent;
}

element-text {
    background-color:           transparent;
    text-color:                 inherit;
    vertical-align:             0.5;
}
