@import url("colors.css");

window, .background {
    background-color: @window_bg_color;
    color: @window_fg_color;
}

headerbar {
    background-color: @headerbar_bg_color;
    color: @headerbar_fg_color;
}

sidebar, .sidebar {
    background-color: @sidebar_bg_color;
    color: @sidebar_fg_color;
}
