* {
    bg-col: {{colors.surface.default.hex}};
    bg-col-light: {{colors.surface_container_high.default.hex}};
    border-col: {{colors.primary.default.hex}};
    selected-col: {{colors.secondary_container.default.hex}};
    purple: {{colors.primary.default.hex}};
    fg-col: {{colors.on_surface.default.hex}};
    grey: {{colors.outline.default.hex}};
}
